.questionsField{
    background-color: white;
    margin-bottom: 15px;
}
.questionsField__main{
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
    
}
.questionsField__title{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 15px;
}
