.createSurvey__descriptionBlock{
    background-color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    z-index: 5;
    padding-bottom: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.borderTop{
    width: 100%;
    background-color: rgb(103, 58, 183);
    height: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.borderTop--orange{
    background-color: rosybrown;
}
.container__content{
    max-width: 770px;
    margin: 0 auto;
    margin-top: 25px;
}
.borderLeft{
    display: none;
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    background-color: #4285F4;
}
.createSurvey__descriptionBlock:hover .borderLeft{
    display: block;
}