.question__inputTitle input{
    border:none;
    border-bottom: 4px solid blue;
    background-color: #f0e8e8;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.question__inputTitle{
    margin-bottom: 15px;
    width: 45%;
}
.question__option{
    margin-bottom: 15px;
    width: 25%;
    position: relative;
}
.question__option input{
    border:none;
    border-bottom: 4px solid yellowgreen;
    background-color: #f0e8e8;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.question__option-close{
    position: absolute;
    right: -40px;
    top: 7%;
    font-size: 35px;
    transform: rotate(45deg);
}
.question__button{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: blue;
    color:white;
}