.question{
    
    li{
        list-style: none;
    }
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "QuestionText QuestionType"
      "Options Options";*/
    &__inputTitle{
        display: flex;
        justify-content: space-between;
        input{
            border:none;
            border-bottom: 4px solid blue;
            background-color: #f0e8e8;
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            grid-area: QuestionText;
        }
        &Wrapper{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            width: 100%;
        }
        
        &-index{
            margin-right: 5px;
            font-size: 18px;
        }
        &-field{
            width: 60%;
            
        }
    }
    
    &__option{
        margin-bottom: 15px;
        width: 38%;
        position: relative;
        display: flex;
        align-items: center;
        &-field{
            width: 100%;
        }
        &-index{
            margin-right: 5px;
        }
        li{
            
        }
        input{
            border:none;
            border-bottom: 4px solid yellowgreen;
            background-color: #f0e8e8;
            padding: 10px;
            border-radius: 5px;
            width: 100%;
        }
        &-close{
            position: absolute;
            right: -30px;
            top: 7%;
            font-size: 35px;
            transform: rotate(45deg);
            transition: color, font-weight .3s ease;
            &:hover{
                color: red;
                font-weight: 700;
            }
        }
    }
    &__button{
        width: 100%;
        padding: 15px;
        cursor: pointer;
        border: none;
        background-color: blue;
        color:white;
    }
    &__optionsField{
        padding-left: 17px;
        //grid-area: Options;
    }
}

  
